{
  "openapi": "3.1.0", "info": {
    "title": "Salable API", "version": "0.0.0"
  }, "servers": [
    {
      "url": "https://beta.salable.app"
    }
  ], "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http", "scheme": "bearer"
      }
    }, "parameters": {
      "ResourceIdPathParam": {
        "name": "id", "in": "path", "required": true, "schema": {
          "type": "string"
        }, "description": "Resource ID"
      }
    }, "schemas": {
      "ErrorResponseBody": {
        "type": "object", "properties": {
          "title": {
            "type": "string"
          }, "detail": {
            "type": [
              "string", "null"
            ]
          }, "errors": {
            "type": [
              "array", "null"
            ], "items": {
              "type": "object"
            }, "description": "The shape will be dependant on the error type"
          }
        }
      }, "Product": {
        "type": "object", "properties": {
          "id": {
            "type": "string"
          }, "organisation": {
            "type": "string"
          }, "name": {
            "type": "string"
          }, "isActive": {
            "type": "boolean"
          }, "createdAt": {
            "type": "string", "format": "date-time"
          }, "updatedAt": {
            "type": "string", "format": "date-time"
          }
        }, "required": [
          "id", "organisation", "name", "isActive", "createdAt", "updatedAt"
        ]
      }, "ProductSetting": {
        "type": "object", "properties": {
          "id": {
            "type": "string"
          }, "organisation": {
            "type": "string"
          }, "successUrl": {
            "type": [
              "string", "null"
            ]
          }, "cancelUrl": {
            "type": [
              "string", "null"
            ]
          }, "allowPromoCodes": {
            "type": "boolean", "default": false
          }, "automaticTax": {
            "type": "boolean", "default": false
          }, "collectBillingAddress": {
            "type": "boolean", "default": false
          }, "collectShippingAddress": {
            "type": "boolean", "default": false
          }, "cardPrefillPreference": {
            "type": "string", "default": "none", "enum": [
              "none", "always", "choice"
            ]
          }, "pastDueEntitlements": {
            "type": "boolean", "default": true
          }, "createdAt": {
            "type": "string", "format": "date-time"
          }, "updatedAt": {
            "type": "string", "format": "date-time"
          }
        }, "required": [
          "id", "organisation", "successUrl", "cancelUrl", "allowPromoCodes", "automaticTax", "collectBillingAddress", 
          "collectShippingAddress", "cardPrefillPreference", "pastDueEntitlements", "createdAt", "updatedAt"
        ]
      }, "Plan": {
        "type": "object", "properties": {
          "id": {
            "type": "string"
          }, "organisation": {
            "type": "string"
          }, "name": {
            "type": "string"
          }, "isActive": {
            "type": "boolean", "default": true
          }, "trialPeriodDays": {
            "type": [
              "integer", "null"
            ]
          }, "createdAt": {
            "type": "string", "format": "date-time"
          }, "updatedAt": {
            "type": "string", "format": "date-time"
          }
        }, "required": [
          "id", "organisation", "name", "isActive", "trialPeriodDays", "createdAt", "updatedAt"
        ]
      }, "Meter": {
        "type": "object", "properties": {
          "id": {
            "type": "string"
          }, "slug": {
            "type": "string"
          }, "name": {
            "type": "string"
          }, "stripeMeterId": {
            "type": "string"
          }, "organisation": {
            "type": "string"
          }, "createdAt": {
            "type": "string", "format": "date-time"
          }, "updatedAt": {
            "type": "string", "format": "date-time"
          }
        }, "required": [
          "id", "slug", "name", "stripeMeterId", "organisation", "createdAt", "updatedAt"
        ]
      }, "LineItem": {
        "type": "object", "properties": {
          "id": {
            "type": "string"
          }, "organisation": {
            "type": "string"
          }, "name": {
            "type": "string"
          }, "slug": {
            "type": "string"
          }, "stripeProductId": {
            "type": "string"
          }, "nickname": {
            "type": "string"
          }, "priceType": {
            "type": "string", "enum": [
              "metered", "per_seat", "flat_rate"
            ]
          }, "intervalType": {
            "type": "string", "enum": [
              "one_off", "recurring"
            ]
          }, "billingScheme": {
            "type": "string", "enum": [
              "flat_rate", "per_unit", "tiered"
            ]
          }, "tiersMode": {
            "type": [
              "string", "null"
            ], "enum": [
              "graduated", "volume"
            ]
          }, "minQuantity": {
            "type": "integer"
          }, "maxQuantity": {
            "type": "integer"
          }, "isActive": {
            "type": "boolean", "default": true
          }, "allowChangingQuantity": {
            "type": "boolean", "default": false
          }, "createdAt": {
            "type": "string", "format": "date-time"
          }, "updatedAt": {
            "type": "string", "format": "date-time"
          }
        }, "required": [
          "id", "organisation", "name", "slug", "stripeProductId", "nickname", "priceType", "intervalType", "billingScheme", 
          "tiersMode", "minQuantity", "maxQuantity", "isActive", "allowChangingQuantity", "createdAt", "updatedAt"
        ]
      }, "Price": {
        "type": "object", "properties": {
          "id": {
            "type": "string"
          }, "organisation": {
            "type": "string"
          }, "stripePriceId": {
            "type": "string"
          }, "interval": {
            "type": [
              "string", "null"
            ], "enum": [
              "day", "week", "month", "year"
            ]
          }, "intervalCount": {
            "type": [
              "integer", "null"
            ]
          }, "createdAt": {
            "type": "string", "format": "date-time"
          }, "updatedAt": {
            "type": "string", "format": "date-time"
          }, "archivedAt": {
            "type": [
              "string", "null"
            ], "format": "date-time"
          }
        }, "required": [
          "id", "organisation", "stripePriceId", "interval", "intervalCount", "createdAt", "updatedAt", "archivedAt"
        ]
      }, "CurrencyOption": {
        "type": "object", "properties": {
          "id": {
            "type": "string"
          }, "organisation": {
            "type": "string"
          }, "currency": {
            "type": "string", "default": "GBP"
          }, "unitAmount": {
            "type": [
              "number", "null"
            ]
          }, "isDefault": {
            "type": "boolean", "default": false
          }, "createdAt": {
            "type": "string", "format": "date-time"
          }, "updatedAt": {
            "type": "string", "format": "date-time"
          }
        }, "required": [
          "id", "organisation", "currency", "unitAmount", "isDefault", "createdAt", "updatedAt"
        ]
      }, "Tier": {
        "type": "object", "properties": {
          "id": {
            "type": "string"
          }, "organisation": {
            "type": "string"
          }, "upTo": {
            "type": "string"
          }, "flatAmount": {
            "type": [
              "number", "null"
            ]
          }, "unitAmount": {
            "type": "number"
          }, "createdAt": {
            "type": "string", "format": "date-time"
          }, "updatedAt": {
            "type": "string", "format": "date-time"
          }
        }, "required": [
          "id", "organisation", "upTo", "flatAmount", "unitAmount", "createdAt", "updatedAt"
        ]
      }, "Entitlement": {
        "type": "object", "properties": {
          "id": {
            "type": "string"
          }, "organisation": {
            "type": "string"
          }, "name": {
            "type": "string"
          }, "createdAt": {
            "type": "string", "format": "date-time"
          }, "updatedAt": {
            "type": "string", "format": "date-time"
          }
        }, "required": [
          "id", "organisation", "name", "createdAt", "updatedAt"
        ]
      }, "Cart": {
        "type": "object", "properties": {
          "id": {
            "type": "string"
          }, "organisation": {
            "type": "string"
          }, "currency": {
            "type": [
              "string", "null"
            ]
          }, "interval": {
            "type": [
              "string", "null"
            ], "enum": [
              "day", "week", "month", "year"
            ]
          }, "intervalCount": {
            "type": [
              "integer", "null"
            ]
          }, "status": {
            "type": "string", "default": "active", "enum": [
              "active", "abandoned", "complete"
            ]
          }, "createdAt": {
            "type": "string", "format": "date-time"
          }, "updatedAt": {
            "type": "string", "format": "date-time"
          }
        }, "required": [
          "id", "organisation", "currency", "interval", "intervalCount", "status", "createdAt", "updatedAt"
        ]
      }, "CartItem": {
        "type": "object", "properties": {
          "id": {
            "type": "string"
          }, "organisation": {
            "type": "string"
          }, "metadata": {
            "type": [
              "number", "string", "boolean", "object", "array", "null"
            ]
          }, "granteeId": {
            "type": [
              "string", "null"
            ]
          }, "groupId": {
            "type": [
              "string", "null"
            ]
          }, "createdAt": {
            "type": "string", "format": "date-time"
          }, "updatedAt": {
            "type": "string", "format": "date-time"
          }
        }, "required": [
          "id", "organisation", "metadata", "granteeId", "groupId", "createdAt", "updatedAt"
        ]
      }, "Owner": {
        "type": "object", "properties": {
          "id": {
            "type": "string"
          }, "organisation": {
            "type": "string"
          }, "value": {
            "type": "string"
          }, "stripeCustomerId": {
            "type": [
              "string", "null"
            ]
          }, "emailAddress": {
            "type": [
              "string", "null"
            ]
          }, "createdAt": {
            "type": "string", "format": "date-time"
          }, "updatedAt": {
            "type": "string", "format": "date-time"
          }
        }, "required": [
          "id", "organisation", "value", "stripeCustomerId", "emailAddress", "createdAt", "updatedAt"
        ]
      }, "Subscription": {
        "type": "object", "properties": {
          "id": {
            "type": "string"
          }, "organisation": {
            "type": "string"
          }, "stripeSubscriptionId": {
            "type": "string"
          }, "status": {
            "type": "string"
          }, "customerId": {
            "type": [
              "string", "null"
            ]
          }, "interval": {
            "type": [
              "string", "null"
            ], "enum": [
              "day", "week", "month", "year"
            ]
          }, "intervalCount": {
            "type": [
              "integer", "null"
            ]
          }, "currencyShortCode": {
            "type": [
              "string", "null"
            ]
          }, "startDate": {
            "type": "string", "format": "date-time"
          }, "cancelledAt": {
            "type": [
              "string", "null"
            ], "format": "date-time"
          }, "cancelAtPeriodEnd": {
            "type": "boolean", "default": false
          }, "isPerpetual": {
            "type": "boolean", "default": false
          }, "createdAt": {
            "type": "string", "format": "date-time"
          }, "updatedAt": {
            "type": "string", "format": "date-time"
          }
        }, "required": [
          "id", "organisation", "stripeSubscriptionId", "status", "customerId", "interval", "intervalCount", "currencyShortCode", 
          "startDate", "cancelledAt", "cancelAtPeriodEnd", "isPerpetual", "createdAt", "updatedAt"
        ]
      }, "SubscriptionPlan": {
        "type": "object", "properties": {
          "id": {
            "type": "string"
          }, "organisation": {
            "type": "string"
          }, "seats": {
            "type": "integer", "default": 1
          }, "status": {
            "type": "string", "enum": [
              "active", "inactive"
            ]
          }, "createdAt": {
            "type": "string", "format": "date-time"
          }, "updatedAt": {
            "type": "string", "format": "date-time"
          }
        }, "required": [
          "id", "organisation", "seats", "status", "createdAt", "updatedAt"
        ]
      }, "SubscriptionPlanLineItem": {
        "type": "object", "properties": {
          "id": {
            "type": "string"
          }, "organisation": {
            "type": "string"
          }, "type": {
            "type": "string", "enum": [
              "unit", "metered"
            ]
          }, "quantity": {
            "type": "integer"
          }, "stripeSubscriptionItemId": {
            "type": "string"
          }, "expiryDate": {
            "type": [
              "string", "null"
            ], "format": "date-time"
          }, "createdAt": {
            "type": "string", "format": "date-time"
          }, "updatedAt": {
            "type": "string", "format": "date-time"
          }
        }, "required": [
          "id", "organisation", "type", "quantity", "stripeSubscriptionItemId", "expiryDate", "createdAt", "updatedAt"
        ]
      }, "Group": {
        "type": "object", "properties": {
          "id": {
            "type": "string"
          }, "organisation": {
            "type": "string"
          }, "name": {
            "type": [
              "string", "null"
            ]
          }, "createdAt": {
            "type": "string", "format": "date-time"
          }, "updatedAt": {
            "type": "string", "format": "date-time"
          }
        }, "required": [
          "id", "organisation", "name", "createdAt", "updatedAt"
        ]
      }, "Membership": {
        "type": "object", "properties": {
          "id": {
            "type": "string"
          }, "organisation": {
            "type": "string"
          }, "createdAt": {
            "type": "string", "format": "date-time"
          }, "updatedAt": {
            "type": "string", "format": "date-time"
          }
        }, "required": [
          "id", "organisation", "createdAt", "updatedAt"
        ]
      }, "Grantee": {
        "type": "object", "properties": {
          "id": {
            "type": "string"
          }, "organisation": {
            "type": "string"
          }, "name": {
            "type": [
              "string", "null"
            ]
          }, "granteeId": {
            "type": "string"
          }, "createdAt": {
            "type": "string", "format": "date-time"
          }, "updatedAt": {
            "type": "string", "format": "date-time"
          }
        }, "required": [
          "id", "organisation", "name", "granteeId", "createdAt", "updatedAt"
        ]
      }, "Usage": {
        "type": "object", "properties": {
          "id": {
            "type": "string"
          }, "stripeSubscriptionItemId": {
            "type": "string"
          }, "inactiveAt": {
            "type": [
              "string", "null"
            ], "format": "date-time"
          }, "createdAt": {
            "type": "string", "format": "date-time"
          }, "updatedAt": {
            "type": "string", "format": "date-time"
          }
        }, "required": [
          "id", "stripeSubscriptionItemId", "inactiveAt", "createdAt", "updatedAt"
        ]
      }, "UsageRecord": {
        "type": "object", "properties": {
          "id": {
            "type": "string"
          }, "organisation": {
            "type": "string"
          }, "status": {
            "type": "string", "enum": [
              "recorded", "current", "final"
            ]
          }, "count": {
            "type": "integer"
          }, "recordedAt": {
            "type": [
              "string", "null"
            ], "format": "date-time"
          }, "createdAt": {
            "type": "string", "format": "date-time"
          }, "updatedAt": {
            "type": "string", "format": "date-time"
          }
        }, "required": [
          "id", "organisation", "status", "count", "recordedAt", "createdAt", "updatedAt"
        ]
      }, "ApiKey": {
        "type": "object", "properties": {
          "id": {
            "type": "string"
          }, "value": {
            "type": "string"
          }, "organisation": {
            "type": "string"
          }, "type": {
            "type": "string", "enum": [
              "publishable", "secret", "restricted"
            ]
          }, "createdAt": {
            "type": "string", "format": "date-time"
          }, "updatedAt": {
            "type": "string", "format": "date-time"
          }
        }, "required": [
          "id", "value", "organisation", "type", "createdAt", "updatedAt"
        ]
      }, "ApiKeyScope": {
        "type": "object", "properties": {
          "id": {
            "type": "string"
          }, "scope": {
            "type": "string"
          }
        }, "required": [
          "id", "scope"
        ]
      }, "PaymentIntegration": {
        "type": "object", "properties": {
          "id": {
            "type": "string"
          }, "accountId": {
            "type": [
              "string", "null"
            ]
          }, "accountType": {
            "type": "string", "default": "oauth", "enum": [
              "oauth", "standard"
            ]
          }, "country": {
            "type": [
              "string", "null"
            ]
          }, "status": {
            "type": "string", "default": "pending", "enum": [
              "pending", "active", "cancelled"
            ]
          }, "organisation": {
            "type": "string"
          }, "createdAt": {
            "type": "string", "format": "date-time"
          }, "updatedAt": {
            "type": "string", "format": "date-time"
          }
        }, "required": [
          "id", "accountId", "accountType", "country", "status", "organisation", "createdAt", "updatedAt"
        ]
      }, "Receipt": {
        "type": "object", "properties": {
          "id": {
            "type": "string"
          }, "organisation": {
            "type": "string"
          }, "createdAt": {
            "type": "string", "format": "date-time"
          }, "updatedAt": {
            "type": "string", "format": "date-time"
          }
        }, "required": [
          "id", "organisation", "createdAt", "updatedAt"
        ]
      }, "ReceiptItem": {
        "type": "object", "properties": {
          "id": {
            "type": "string"
          }, "quantity": {
            "type": "integer"
          }, "organisation": {
            "type": "string"
          }, "createdAt": {
            "type": "string", "format": "date-time"
          }, "updatedAt": {
            "type": "string", "format": "date-time"
          }
        }, "required": [
          "id", "quantity", "organisation", "createdAt", "updatedAt"
        ]
      }, "Destination": {
        "type": "object", "properties": {
          "id": {
            "type": "string"
          }, "createdAt": {
            "type": "string", "format": "date-time"
          }, "updatedAt": {
            "type": "string", "format": "date-time"
          }, "organisation": {
            "type": "string"
          }
        }, "required": [
          "id", "createdAt", "updatedAt", "organisation"
        ]
      }, "Webhook": {
        "type": "object", "properties": {
          "id": {
            "type": "string"
          }, "url": {
            "type": "string"
          }, "organisation": {
            "type": "string"
          }, "secret": {
            "type": [
              "number", "string", "boolean", "object", "array", "null"
            ]
          }, "createdAt": {
            "type": "string", "format": "date-time"
          }, "updatedAt": {
            "type": "string", "format": "date-time"
          }
        }, "required": [
          "id", "url", "organisation", "secret", "createdAt", "updatedAt"
        ]
      }, "Event": {
        "type": "object", "properties": {
          "id": {
            "type": "string"
          }, "organisation": {
            "type": "string"
          }, "type": {
            "type": "string"
          }, "payload": {
            "type": [
              "number", "string", "boolean", "object", "array", "null"
            ]
          }, "createdAt": {
            "type": "string", "format": "date-time"
          }, "updatedAt": {
            "type": "string", "format": "date-time"
          }
        }, "required": [
          "id", "organisation", "type", "payload", "createdAt", "updatedAt"
        ]
      }, "EventAttempt": {
        "type": "object", "properties": {
          "id": {
            "type": "string"
          }, "attempt": {
            "type": "integer"
          }, "status": {
            "type": "string", "default": "pending", "enum": [
              "success", "error", "pending"
            ]
          }, "message": {
            "type": [
              "string", "null"
            ]
          }, "createdAt": {
            "type": "string", "format": "date-time"
          }, "updatedAt": {
            "type": "string", "format": "date-time"
          }, "scheduledAt": {
            "type": [
              "string", "null"
            ], "format": "date-time"
          }, "organisation": {
            "type": "string"
          }, "sentCount": {
            "type": "integer", "default": 0
          }
        }, "required": [
          "id", "attempt", "status", "message", "createdAt", "updatedAt", "scheduledAt", "organisation", "sentCount"
        ]
      }, "TierTag": {
        "type": "object", "properties": {
          "id": {
            "type": "string"
          }, "name": {
            "type": "string"
          }, "organisation": {
            "type": "string"
          }, "createdAt": {
            "type": "string", "format": "date-time"
          }, "updatedAt": {
            "type": "string", "format": "date-time"
          }
        }, "required": [
          "id", "name", "organisation", "createdAt", "updatedAt"
        ]
      }, "Invoice": {
        "$schema": "http://json-schema.org/draft-04/schema#", "type": "object", "properties": {
          "id": {
            "type": "string"
          }, "object": {
            "type": "string"
          }, "account_country": {
            "type": "string"
          }, "account_name": {
            "type": "string"
          }, "account_tax_ids": {
            "type": "null"
          }, "amount_due": {
            "type": "integer"
          }, "amount_overpaid": {
            "type": "integer"
          }, "amount_paid": {
            "type": "integer"
          }, "amount_remaining": {
            "type": "integer"
          }, "amount_shipping": {
            "type": "integer"
          }, "application": {
            "type": "string"
          }, "application_fee_amount": {
            "type": "null"
          }, "attempt_count": {
            "type": "integer"
          }, "attempted": {
            "type": "boolean"
          }, "auto_advance": {
            "type": "boolean"
          }, "automatic_tax": {
            "type": "object", "properties": {
              "disabled_reason": {
                "type": "null"
              }, "enabled": {
                "type": "boolean"
              }, "liability": {
                "type": "null"
              }, "provider": {
                "type": "null"
              }, "status": {
                "type": "null"
              }
            }, "required": [
              "disabled_reason", "enabled", "liability", "provider", "status"
            ]
          }, "automatically_finalizes_at": {
            "type": "null"
          }, "billing_reason": {
            "type": "string"
          }, "charge": {
            "type": "null"
          }, "collection_method": {
            "type": "string"
          }, "created": {
            "type": "integer"
          }, "currency": {
            "type": "string"
          }, "custom_fields": {
            "type": "null"
          }, "customer": {
            "type": "string"
          }, "customer_address": {
            "type": "object", "properties": {
              "city": {
                "type": "null"
              }, "country": {
                "type": "string"
              }, "line1": {
                "type": "null"
              }, "line2": {
                "type": "null"
              }, "postal_code": {
                "type": "string"
              }, "state": {
                "type": "null"
              }
            }, "required": [
              "city", "country", "line1", "line2", "postal_code", "state"
            ]
          }, "customer_email": {
            "type": "string"
          }, "customer_name": {
            "type": "string"
          }, "customer_phone": {
            "type": "null"
          }, "customer_shipping": {
            "type": "null"
          }, "customer_tax_exempt": {
            "type": "string"
          }, "customer_tax_ids": {
            "type": "array", "items": {}
          }, "default_payment_method": {
            "type": "null"
          }, "default_source": {
            "type": "null"
          }, "default_tax_rates": {
            "type": "array", "items": {}
          }, "description": {
            "type": "null"
          }, "discount": {
            "type": "null"
          }, "discounts": {
            "type": "array", "items": {}
          }, "due_date": {
            "type": "null"
          }, "effective_at": {
            "type": "integer"
          }, "ending_balance": {
            "type": "integer"
          }, "footer": {
            "type": "null"
          }, "from_invoice": {
            "type": "null"
          }, "hosted_invoice_url": {
            "type": "string"
          }, "invoice_pdf": {
            "type": "string"
          }, "issuer": {
            "type": "object", "properties": {
              "type": {
                "type": "string"
              }
            }, "required": [
              "type"
            ]
          }, "last_finalization_error": {
            "type": "null"
          }, "latest_revision": {
            "type": "null"
          }, "lines": {
            "type": "object", "properties": {
              "object": {
                "type": "string"
              }, "data": {
                "type": "array", "items": [
                  {
                    "type": "object", "properties": {
                      "id": {
                        "type": "string"
                      }, "object": {
                        "type": "string"
                      }, "amount": {
                        "type": "integer"
                      }, "amount_excluding_tax": {
                        "type": "integer"
                      }, "currency": {
                        "type": "string"
                      }, "description": {
                        "type": "string"
                      }, "discount_amounts": {
                        "type": "array", "items": {}
                      }, "discountable": {
                        "type": "boolean"
                      }, "discounts": {
                        "type": "array", "items": {}
                      }, "invoice": {
                        "type": "string"
                      }, "invoice_item": {
                        "type": "string"
                      }, "livemode": {
                        "type": "boolean"
                      }, "metadata": {
                        "type": "object"
                      }, "parent": {
                        "type": "object", "properties": {
                          "invoice_item_details": {
                            "type": "null"
                          }, "subscription_item_details": {
                            "type": "object", "properties": {
                              "invoice_item": {
                                "type": "string"
                              }, "proration": {
                                "type": "boolean"
                              }, "proration_details": {
                                "type": "object", "properties": {
                                  "credited_items": {
                                    "type": "object", "properties": {
                                      "invoice": {
                                        "type": "string"
                                      }, "invoice_line_items": {
                                        "type": "array", "items": [
                                          {
                                            "type": "string"
                                          }
                                        ]
                                      }
                                    }, "required": [
                                      "invoice", "invoice_line_items"
                                    ]
                                  }
                                }, "required": [
                                  "credited_items"
                                ]
                              }, "subscription": {
                                "type": "string"
                              }, "subscription_item": {
                                "type": "string"
                              }
                            }, "required": [
                              "invoice_item", "proration", "proration_details", "subscription", "subscription_item"
                            ]
                          }, "type": {
                            "type": "string"
                          }
                        }, "required": [
                          "invoice_item_details", "subscription_item_details", "type"
                        ]
                      }, "period": {
                        "type": "object", "properties": {
                          "end": {
                            "type": "integer"
                          }, "start": {
                            "type": "integer"
                          }
                        }, "required": [
                          "end", "start"
                        ]
                      }, "plan": {
                        "type": "object", "properties": {
                          "id": {
                            "type": "string"
                          }, "object": {
                            "type": "string"
                          }, "active": {
                            "type": "boolean"
                          }, "aggregate_usage": {
                            "type": "null"
                          }, "amount": {
                            "type": "integer"
                          }, "amount_decimal": {
                            "type": "string"
                          }, "billing_scheme": {
                            "type": "string"
                          }, "created": {
                            "type": "integer"
                          }, "currency": {
                            "type": "string"
                          }, "interval": {
                            "type": "string"
                          }, "interval_count": {
                            "type": "integer"
                          }, "livemode": {
                            "type": "boolean"
                          }, "metadata": {
                            "type": "object"
                          }, "meter": {
                            "type": "null"
                          }, "nickname": {
                            "type": "string"
                          }, "product": {
                            "type": "string"
                          }, "tiers_mode": {
                            "type": "null"
                          }, "transform_usage": {
                            "type": "null"
                          }, "trial_period_days": {
                            "type": "null"
                          }, "usage_type": {
                            "type": "string"
                          }
                        }, "required": [
                          "id", "object", "active", "aggregate_usage", "amount", "amount_decimal", "billing_scheme", "created", 
                          "currency", "interval", "interval_count", "livemode", "metadata", "meter", "nickname", "product", 
                          "tiers_mode", "transform_usage", "trial_period_days", "usage_type"
                        ]
                      }, "pretax_credit_amounts": {
                        "type": "array", "items": {}
                      }, "price": {
                        "type": "object", "properties": {
                          "id": {
                            "type": "string"
                          }, "object": {
                            "type": "string"
                          }, "active": {
                            "type": "boolean"
                          }, "billing_scheme": {
                            "type": "string"
                          }, "created": {
                            "type": "integer"
                          }, "currency": {
                            "type": "string"
                          }, "custom_unit_amount": {
                            "type": "null"
                          }, "livemode": {
                            "type": "boolean"
                          }, "lookup_key": {
                            "type": "null"
                          }, "metadata": {
                            "type": "object"
                          }, "nickname": {
                            "type": "string"
                          }, "product": {
                            "type": "string"
                          }, "recurring": {
                            "type": "object", "properties": {
                              "aggregate_usage": {
                                "type": "null"
                              }, "interval": {
                                "type": "string"
                              }, "interval_count": {
                                "type": "integer"
                              }, "meter": {
                                "type": "null"
                              }, "trial_period_days": {
                                "type": "null"
                              }, "usage_type": {
                                "type": "string"
                              }
                            }, "required": [
                              "aggregate_usage", "interval", "interval_count", "meter", "trial_period_days", "usage_type"
                            ]
                          }, "tax_behavior": {
                            "type": "string"
                          }, "tiers_mode": {
                            "type": "null"
                          }, "transform_quantity": {
                            "type": "null"
                          }, "type": {
                            "type": "string"
                          }, "unit_amount": {
                            "type": "integer"
                          }, "unit_amount_decimal": {
                            "type": "string"
                          }
                        }, "required": [
                          "id", "object", "active", "billing_scheme", "created", "currency", "custom_unit_amount", "livemode", 
                          "lookup_key", "metadata", "nickname", "product", "recurring", "tax_behavior", "tiers_mode", 
                          "transform_quantity", "type", "unit_amount", "unit_amount_decimal"
                        ]
                      }, "pricing": {
                        "type": "object", "properties": {
                          "price_details": {
                            "type": "object", "properties": {
                              "price": {
                                "type": "string"
                              }, "product": {
                                "type": "string"
                              }
                            }, "required": [
                              "price", "product"
                            ]
                          }, "type": {
                            "type": "string"
                          }, "unit_amount_decimal": {
                            "type": "null"
                          }
                        }, "required": [
                          "price_details", "type", "unit_amount_decimal"
                        ]
                      }, "proration": {
                        "type": "boolean"
                      }, "proration_details": {
                        "type": "object", "properties": {
                          "credited_items": {
                            "type": "object", "properties": {
                              "invoice": {
                                "type": "string"
                              }, "invoice_line_items": {
                                "type": "array", "items": [
                                  {
                                    "type": "string"
                                  }
                                ]
                              }
                            }, "required": [
                              "invoice", "invoice_line_items"
                            ]
                          }
                        }, "required": [
                          "credited_items"
                        ]
                      }, "quantity": {
                        "type": "integer"
                      }, "subscription": {
                        "type": "string"
                      }, "subscription_item": {
                        "type": "string"
                      }, "tax_amounts": {
                        "type": "array", "items": {}
                      }, "tax_rates": {
                        "type": "array", "items": {}
                      }, "taxes": {
                        "type": "array", "items": {}
                      }, "type": {
                        "type": "string"
                      }, "unit_amount_excluding_tax": {
                        "type": "string"
                      }
                    }, "required": [
                      "id", "object", "amount", "amount_excluding_tax", "currency", "description", "discount_amounts", "discountable", 
                      "discounts", "invoice", "invoice_item", "livemode", "metadata", "parent", "period", "plan", 
                      "pretax_credit_amounts", "price", "pricing", "proration", "proration_details", "quantity", "subscription", 
                      "subscription_item", "tax_amounts", "tax_rates", "taxes", "type", "unit_amount_excluding_tax"
                    ]
                  }
                ]
              }, "has_more": {
                "type": "boolean"
              }, "total_count": {
                "type": "integer"
              }, "url": {
                "type": "string"
              }
            }, "required": [
              "object", "data", "has_more", "total_count", "url"
            ]
          }, "livemode": {
            "type": "boolean"
          }, "metadata": {
            "type": "object"
          }, "next_payment_attempt": {
            "type": "null"
          }, "number": {
            "type": "string"
          }, "on_behalf_of": {
            "type": "null"
          }, "paid": {
            "type": "boolean"
          }, "paid_out_of_band": {
            "type": "boolean"
          }, "parent": {
            "type": "object", "properties": {
              "quote_details": {
                "type": "null"
              }, "subscription_details": {
                "type": "object", "properties": {
                  "metadata": {
                    "type": "object", "properties": {
                      "granteeId": {
                        "type": "string"
                      }, "member": {
                        "type": "string"
                      }
                    }, "required": [
                      "granteeId", "member"
                    ]
                  }, "subscription": {
                    "type": "string"
                  }
                }, "required": [
                  "metadata", "subscription"
                ]
              }, "type": {
                "type": "string"
              }
            }, "required": [
              "quote_details", "subscription_details", "type"
            ]
          }, "payment_intent": {
            "type": "null"
          }, "payment_settings": {
            "type": "object", "properties": {
              "default_mandate": {
                "type": "null"
              }, "payment_method_options": {
                "type": "object", "properties": {
                  "acss_debit": {
                    "type": "null"
                  }, "bancontact": {
                    "type": "null"
                  }, "card": {
                    "type": "object", "properties": {
                      "request_three_d_secure": {
                        "type": "string"
                      }
                    }, "required": [
                      "request_three_d_secure"
                    ]
                  }, "customer_balance": {
                    "type": "null"
                  }, "konbini": {
                    "type": "null"
                  }, "sepa_debit": {
                    "type": "null"
                  }, "us_bank_account": {
                    "type": "null"
                  }
                }, "required": [
                  "acss_debit", "bancontact", "card", "customer_balance", "konbini", "sepa_debit", "us_bank_account"
                ]
              }, "payment_method_types": {
                "type": "null"
              }
            }, "required": [
              "default_mandate", "payment_method_options", "payment_method_types"
            ]
          }, "period_end": {
            "type": "integer"
          }, "period_start": {
            "type": "integer"
          }, "post_payment_credit_notes_amount": {
            "type": "integer"
          }, "pre_payment_credit_notes_amount": {
            "type": "integer"
          }, "quote": {
            "type": "null"
          }, "receipt_number": {
            "type": "null"
          }, "rendering": {
            "type": "null"
          }, "shipping_cost": {
            "type": "null"
          }, "shipping_details": {
            "type": "null"
          }, "starting_balance": {
            "type": "integer"
          }, "statement_descriptor": {
            "type": "null"
          }, "status": {
            "type": "string"
          }, "status_transitions": {
            "type": "object", "properties": {
              "finalized_at": {
                "type": "integer"
              }, "marked_uncollectible_at": {
                "type": "null"
              }, "paid_at": {
                "type": "integer"
              }, "voided_at": {
                "type": "null"
              }
            }, "required": [
              "finalized_at", "marked_uncollectible_at", "paid_at", "voided_at"
            ]
          }, "subscription": {
            "type": "string"
          }, "subscription_details": {
            "type": "object", "properties": {
              "metadata": {
                "type": "object", "properties": {
                  "granteeId": {
                    "type": "string"
                  }, "member": {
                    "type": "string"
                  }
                }, "required": [
                  "granteeId", "member"
                ]
              }
            }, "required": [
              "metadata"
            ]
          }, "subtotal": {
            "type": "integer"
          }, "subtotal_excluding_tax": {
            "type": "integer"
          }, "tax": {
            "type": "null"
          }, "test_clock": {
            "type": "null"
          }, "total": {
            "type": "integer"
          }, "total_discount_amounts": {
            "type": "array", "items": {}
          }, "total_excluding_tax": {
            "type": "integer"
          }, "total_pretax_credit_amounts": {
            "type": "array", "items": {}
          }, "total_tax_amounts": {
            "type": "array", "items": {}
          }, "total_taxes": {
            "type": "array", "items": {}
          }, "transfer_data": {
            "type": "null"
          }, "webhooks_delivered_at": {
            "type": "integer"
          }
        }, "required": [
          "id", "object", "account_country", "account_name", "account_tax_ids", "amount_due", "amount_overpaid", "amount_paid", 
          "amount_remaining", "amount_shipping", "application", "application_fee_amount", "attempt_count", "attempted", 
          "auto_advance", "automatic_tax", "automatically_finalizes_at", "billing_reason", "charge", "collection_method", "created", 
          "currency", "custom_fields", "customer", "customer_address", "customer_email", "customer_name", "customer_phone", 
          "customer_shipping", "customer_tax_exempt", "customer_tax_ids", "default_payment_method", "default_source", 
          "default_tax_rates", "description", "discount", "discounts", "due_date", "effective_at", "ending_balance", "footer", 
          "from_invoice", "hosted_invoice_url", "invoice_pdf", "issuer", "last_finalization_error", "latest_revision", "lines", 
          "livemode", "metadata", "next_payment_attempt", "number", "on_behalf_of", "paid", "paid_out_of_band", "parent", 
          "payment_intent", "payment_settings", "period_end", "period_start", "post_payment_credit_notes_amount", 
          "pre_payment_credit_notes_amount", "quote", "receipt_number", "rendering", "shipping_cost", "shipping_details", 
          "starting_balance", "statement_descriptor", "status", "status_transitions", "subscription", "subscription_details", 
          "subtotal", "subtotal_excluding_tax", "tax", "test_clock", "total", "total_discount_amounts", "total_excluding_tax", 
          "total_pretax_credit_amounts", "total_tax_amounts", "total_taxes", "transfer_data", "webhooks_delivered_at"
        ]
      }, "SigningKey": {
        "type": "object", "properties": {
          "id": {
            "type": "string"
          }, "organisation": {
            "type": "string"
          }, "privateKey": {
            "type": [
              "number", "string", "boolean", "object", "array", "null"
            ]
          }, "publicKey": {
            "type": [
              "number", "string", "boolean", "object", "array", "null"
            ]
          }, "createdAt": {
            "type": "string", "format": "date-time"
          }, "updatedAt": {
            "type": "string", "format": "date-time"
          }
        }, "required": [
          "id", "organisation", "privateKey", "publicKey", "createdAt", "updatedAt"
        ]
      }
    }
  }, "security": [
    {
      "BearerAuth": []
    }
  ], "paths": {
    "/api/products": {
      "post": {
        "tags": [
          "Products"
        ], "summary": "Create Product", "operationId": "createProduct", "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object", "properties": {
                  "name": {
                    "type": "string", "minLength": 1
                  }, "isActive": {
                    "type": "boolean"
                  }
                }, "required": [
                  "name"
                ], "additionalProperties": false, "$schema": "http://json-schema.org/draft-07/schema#"
              }
            }
          }
        }, "responses": {
          "201": {
            "description": "Successfully created product", "content": {
              "application/json": {
                "schema": {
                  "type": "object", "properties": {
                    "type": {
                      "const": "object", "type": "string"
                    }, "data": {
                      "additionalProperties": false, "type": "object", "properties": {
                        "id": {
                          "type": "string"
                        }, "organisation": {
                          "type": "string"
                        }, "name": {
                          "type": "string"
                        }, "isActive": {
                          "type": "boolean"
                        }, "createdAt": {
                          "type": "string"
                        }, "updatedAt": {
                          "type": "string"
                        }
                      }, "required": [
                        "id", "organisation", "name", "isActive", "createdAt", "updatedAt"
                      ]
                    }
                  }, "required": [
                    "type", "data"
                  ]
                }
              }
            }
          }, "400": {
            "description": "Invalid request or validation error", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "401": {
            "description": "Unauthenticated, invalid or expired token", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "403": {
            "description": "Unauthorized, missing required api key scopes to perform action", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "405": {
            "description": "Method not allowed", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "500": {
            "description": "Internal server error", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        }
      }, "get": {
        "tags": [
          "Products"
        ], "operationId": "listProducts", "summary": "List Products", "parameters": [
          {
            "name": "expand", "in": "query", "required": false, "schema": {
              "type": "array", "items": {
                "type": "string", "enum": [
                  "plans", "settings"
                ]
              }
            }, "style": "form", "explode": false
          }, {
            "name": "before", "in": "query", "required": false, "schema": {
              "type": "string"
            }
          }, {
            "name": "after", "in": "query", "required": false, "schema": {
              "type": "string"
            }
          }
        ], "responses": {
          "200": {
            "description": "Retrieves product list", "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false, "type": "object", "properties": {
                    "type": {
                      "const": "list", "type": "string"
                    }, "data": {
                      "type": "array", "items": {
                        "type": "object", "properties": {
                          "id": {
                            "type": "string"
                          }, "organisation": {
                            "type": "string"
                          }, "name": {
                            "type": "string"
                          }, "isActive": {
                            "type": "boolean"
                          }, "createdAt": {
                            "type": "string"
                          }, "updatedAt": {
                            "type": "string"
                          }, "plans": {
                            "additionalProperties": false, "type": "object", "properties": {
                              "type": {
                                "const": "list", "type": "string"
                              }, "data": {
                                "type": "array", "items": {
                                  "additionalProperties": false, "type": "object", "properties": {
                                    "id": {
                                      "type": "string"
                                    }, "organisation": {
                                      "type": "string"
                                    }, "name": {
                                      "type": "string"
                                    }, "isActive": {
                                      "type": "boolean"
                                    }, "productId": {
                                      "type": "string"
                                    }, "tierTagId": {
                                      "anyOf": [
                                        {
                                          "type": "null"
                                        }, {
                                          "type": "string"
                                        }
                                      ]
                                    }, "trialPeriodDays": {
                                      "anyOf": [
                                        {
                                          "type": "null"
                                        }, {
                                          "type": "integer"
                                        }
                                      ]
                                    }, "createdAt": {
                                      "type": "string"
                                    }, "updatedAt": {
                                      "type": "string"
                                    }
                                  }, "required": [
                                    "id", "organisation", "name", "isActive", "productId", "tierTagId", "trialPeriodDays", 
                                    "createdAt", "updatedAt"
                                  ]
                                }
                              }, "hasMore": {
                                "type": "boolean"
                              }, "path": {
                                "type": "string"
                              }
                            }, "required": [
                              "type", "data", "hasMore", "path"
                            ]
                          }
                        }, "required": [
                          "id", "organisation", "name", "isActive", "createdAt", "updatedAt"
                        ]
                      }
                    }, "nextCursor": {
                      "anyOf": [
                        {
                          "type": "null"
                        }, {
                          "type": "string"
                        }
                      ]
                    }, "previousCursor": {
                      "anyOf": [
                        {
                          "type": "null"
                        }, {
                          "type": "string"
                        }
                      ]
                    }, "hasMore": {
                      "type": "boolean"
                    }
                  }, "required": [
                    "type", "data", "nextCursor", "previousCursor", "hasMore"
                  ]
                }
              }
            }
          }, "401": {
            "description": "Unauthenticated, invalid or expired token", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "403": {
            "description": "Unauthorized, missing required api key scopes to perform action", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "405": {
            "description": "Method not allowed", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "500": {
            "description": "Internal server error", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        }
      }
    }, "/api/products/{id}": {
      "get": {
        "tags": [
          "Products"
        ], "summary": "Retrieve Product", "operationId": "retrieveProduct", "parameters": [
          {
            "$ref": "#/components/parameters/ResourceIdPathParam"
          }, {
            "name": "expand", "in": "query", "required": false, "schema": {
              "type": "array", "items": {
                "type": "string", "enum": [
                  "settings", "plans"
                ]
              }
            }, "style": "form", "explode": false
          }
        ], "responses": {
          "200": {
            "description": "Successfully retrieved product", "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false, "type": "object", "properties": {
                    "type": {
                      "const": "object", "type": "string"
                    }, "data": {
                      "type": "object", "properties": {
                        "id": {
                          "type": "string"
                        }, "organisation": {
                          "type": "string"
                        }, "name": {
                          "type": "string"
                        }, "isActive": {
                          "type": "boolean"
                        }, "createdAt": {
                          "type": "string"
                        }, "updatedAt": {
                          "type": "string"
                        }, "plans": {
                          "additionalProperties": false, "type": "object", "properties": {
                            "type": {
                              "const": "list", "type": "string"
                            }, "data": {
                              "type": "array", "items": {
                                "additionalProperties": false, "type": "object", "properties": {
                                  "id": {
                                    "type": "string"
                                  }, "organisation": {
                                    "type": "string"
                                  }, "name": {
                                    "type": "string"
                                  }, "isActive": {
                                    "type": "boolean"
                                  }, "productId": {
                                    "type": "string"
                                  }, "tierTagId": {
                                    "anyOf": [
                                      {
                                        "type": "null"
                                      }, {
                                        "type": "string"
                                      }
                                    ]
                                  }, "trialPeriodDays": {
                                    "anyOf": [
                                      {
                                        "type": "null"
                                      }, {
                                        "type": "integer"
                                      }
                                    ]
                                  }, "createdAt": {
                                    "type": "string"
                                  }, "updatedAt": {
                                    "type": "string"
                                  }
                                }, "required": [
                                  "id", "organisation", "name", "isActive", "productId", "tierTagId", "trialPeriodDays", "createdAt", 
                                  "updatedAt"
                                ]
                              }
                            }, "hasMore": {
                              "type": "boolean"
                            }, "path": {
                              "type": "string"
                            }
                          }, "required": [
                            "type", "data", "hasMore", "path"
                          ]
                        }, "settings": {
                          "additionalProperties": false, "type": "object", "properties": {
                            "id": {
                              "type": "string"
                            }, "organisation": {
                              "type": "string"
                            }, "successUrl": {
                              "anyOf": [
                                {
                                  "type": "null"
                                }, {
                                  "type": "string"
                                }
                              ]
                            }, "cancelUrl": {
                              "anyOf": [
                                {
                                  "type": "null"
                                }, {
                                  "type": "string"
                                }
                              ]
                            }, "allowPromoCodes": {
                              "type": "boolean"
                            }, "automaticTax": {
                              "type": "boolean"
                            }, "collectBillingAddress": {
                              "type": "boolean"
                            }, "collectShippingAddress": {
                              "type": "boolean"
                            }, "cardPrefillPreference": {
                              "allOf": [
                                {
                                  "additionalProperties": false, "anyOf": [
                                    {
                                      "const": "none", "type": "string"
                                    }, {
                                      "const": "always", "type": "string"
                                    }, {
                                      "const": "choice", "type": "string"
                                    }
                                  ]
                                }, {
                                  "anyOf": [
                                    {
                                      "const": "none", "type": "string"
                                    }, {
                                      "const": "always", "type": "string"
                                    }, {
                                      "const": "choice", "type": "string"
                                    }
                                  ]
                                }
                              ]
                            }, "pastDueEntitlements": {
                              "type": "boolean"
                            }, "productId": {
                              "anyOf": [
                                {
                                  "type": "null"
                                }, {
                                  "type": "string"
                                }
                              ]
                            }, "createdAt": {
                              "type": "string"
                            }, "updatedAt": {
                              "type": "string"
                            }
                          }, "required": [
                            "id", "organisation", "successUrl", "cancelUrl", "allowPromoCodes", "automaticTax", 
                            "collectBillingAddress", "collectShippingAddress", "cardPrefillPreference", "pastDueEntitlements", 
                            "productId", "createdAt", "updatedAt"
                          ]
                        }
                      }, "required": [
                        "id", "organisation", "name", "isActive", "createdAt", "updatedAt"
                      ]
                    }
                  }, "required": [
                    "type", "data"
                  ]
                }
              }
            }
          }, "400": {
            "description": "Invalid request", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "401": {
            "description": "Unauthenticated, invalid or expired token", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "403": {
            "description": "Unauthorized, missing required api key scopes to perform action", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "404": {
            "description": "Product not found", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "405": {
            "description": "Method not allowed", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "500": {
            "description": "Internal server error", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        }
      }, "put": {
        "tags": [
          "Products"
        ], "summary": "Update Product", "operationId": "updateProduct", "parameters": [
          {
            "$ref": "#/components/parameters/ResourceIdPathParam"
          }
        ], "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object", "properties": {
                  "name": {
                    "type": "string", "minLength": 1
                  }, "isActive": {
                    "type": "boolean"
                  }, "settings": {
                    "type": "object", "properties": {
                      "cancelUrl": {
                        "type": "string", "format": "uri"
                      }, "successUrl": {
                        "type": "string", "format": "uri"
                      }, "allowPromoCodes": {
                        "type": "boolean"
                      }, "automaticTax": {
                        "type": "boolean"
                      }, "collectBillingAddress": {
                        "type": "boolean"
                      }, "collectShippingAddress": {
                        "type": "boolean"
                      }, "cardPrefillPreference": {
                        "type": "string", "enum": [
                          "none", "always", "choice"
                        ]
                      }, "pastDueEntitlements": {
                        "type": "boolean"
                      }
                    }, "additionalProperties": false
                  }
                }, "required": [
                  "name"
                ], "additionalProperties": false, "$schema": "http://json-schema.org/draft-07/schema#"
              }
            }
          }
        }, "responses": {
          "200": {
            "description": "Successfully updated product", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          }, "400": {
            "description": "Invalid request or validation error", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "401": {
            "description": "Unauthenticated, invalid or expired token", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "403": {
            "description": "Unauthorized, missing required api key scopes to perform action", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "404": {
            "description": "Product not found", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "405": {
            "description": "Method not allowed", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "500": {
            "description": "Internal server error", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        }
      }, "delete": {
        "tags": [
          "Products"
        ], "summary": "Delete Product", "operationId": "deleteProduct", "parameters": [
          {
            "$ref": "#/components/parameters/ResourceIdPathParam"
          }
        ], "responses": {
          "204": {
            "description": "Successfully deleted product"
          }, "400": {
            "description": "Invalid request", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "401": {
            "description": "Unauthenticated, invalid or expired token", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "403": {
            "description": "Unauthorized, missing required api key scopes to perform action", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "404": {
            "description": "Product not found", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "405": {
            "description": "Method not allowed", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "500": {
            "description": "Internal server error", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        }
      }
    }, "/api/products/import": {
      "post": {
        "tags": [
          "Products"
        ], "summary": "Import Product from YAML", "operationId": "importProduct", "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object", "properties": {
                  "file": {
                    "type": "string", "format": "binary", "description": "YAML file containing product definition"
                  }
                }, "required": [
                  "file"
                ]
              }
            }
          }
        }, "responses": {
          "201": {
            "description": "Successfully imported product"
          }, "400": {
            "description": "Invalid request or file not provided", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "401": {
            "description": "Unauthenticated, invalid or expired token", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "403": {
            "description": "Unauthorized, missing required api key scopes to perform action", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "405": {
            "description": "Method not allowed", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "500": {
            "description": "Internal server error", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        }
      }
    }, "/api/products/export/{id}": {
      "get": {
        "tags": [
          "Products"
        ], "summary": "Export Product as YAML", "operationId": "exportProduct", "parameters": [
          {
            "$ref": "#/components/parameters/ResourceIdPathParam"
          }
        ], "responses": {
          "200": {
            "description": "Successfully exported product", "content": {
              "text/yaml": {
                "schema": {
                  "type": "string", "format": "binary"
                }
              }
            }
          }, "400": {
            "description": "Invalid request", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "401": {
            "description": "Unauthenticated, invalid or expired token", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "403": {
            "description": "Unauthorized, missing required api key scopes to perform action", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "404": {
            "description": "Product not found", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "405": {
            "description": "Method not allowed", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "500": {
            "description": "Internal server error", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        }
      }
    }, "/api/api-keys": {
      "get": {
        "summary": "List Api Keys", "tags": [
          "API Keys"
        ], "operationId": "listApiKeys", "parameters": [
          {
            "name": "before", "in": "query", "required": false, "schema": {
              "type": "string"
            }
          }, {
            "name": "after", "in": "query", "required": false, "schema": {
              "type": "string"
            }
          }
        ], "responses": {
          "200": {
            "description": "Successfully retrieved API keys", "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false, "type": "object", "properties": {
                    "type": {
                      "const": "list", "type": "string"
                    }, "data": {
                      "type": "array", "items": {
                        "additionalProperties": false, "type": "object", "properties": {
                          "id": {
                            "type": "string"
                          }, "value": {
                            "type": "string"
                          }, "organisation": {
                            "type": "string"
                          }, "type": {
                            "allOf": [
                              {
                                "additionalProperties": false, "anyOf": [
                                  {
                                    "const": "publishable", "type": "string"
                                  }, {
                                    "const": "secret", "type": "string"
                                  }, {
                                    "const": "restricted", "type": "string"
                                  }
                                ]
                              }, {
                                "anyOf": [
                                  {
                                    "const": "publishable", "type": "string"
                                  }, {
                                    "const": "secret", "type": "string"
                                  }, {
                                    "const": "restricted", "type": "string"
                                  }
                                ]
                              }
                            ]
                          }, "createdAt": {
                            "type": "string"
                          }, "updatedAt": {
                            "type": "string"
                          }
                        }, "required": [
                          "id", "value", "organisation", "type", "createdAt", "updatedAt"
                        ]
                      }
                    }, "nextCursor": {
                      "anyOf": [
                        {
                          "type": "null"
                        }, {
                          "type": "string"
                        }
                      ]
                    }, "previousCursor": {
                      "anyOf": [
                        {
                          "type": "null"
                        }, {
                          "type": "string"
                        }
                      ]
                    }, "hasMore": {
                      "type": "boolean"
                    }
                  }, "required": [
                    "type", "data", "nextCursor", "previousCursor", "hasMore"
                  ]
                }
              }
            }
          }, "401": {
            "description": "Unauthenticated, invalid or expired token", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "403": {
            "description": "Unauthorized, missing required api key scopes to perform action", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "405": {
            "description": "Method not allowed", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "500": {
            "description": "Internal server error", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        }
      }, "post": {
        "tags": [
          "API Keys"
        ], "summary": "Create API key", "operationId": "createApiKey", "responses": {
          "201": {
            "description": "Successfully created API key", "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false, "type": "object", "properties": {
                    "type": {
                      "const": "object", "type": "string"
                    }, "data": {
                      "additionalProperties": false, "type": "object", "properties": {
                        "id": {
                          "type": "string"
                        }, "value": {
                          "type": "string"
                        }, "organisation": {
                          "type": "string"
                        }, "type": {
                          "allOf": [
                            {
                              "additionalProperties": false, "anyOf": [
                                {
                                  "const": "publishable", "type": "string"
                                }, {
                                  "const": "secret", "type": "string"
                                }, {
                                  "const": "restricted", "type": "string"
                                }
                              ]
                            }, {
                              "anyOf": [
                                {
                                  "const": "publishable", "type": "string"
                                }, {
                                  "const": "secret", "type": "string"
                                }, {
                                  "const": "restricted", "type": "string"
                                }
                              ]
                            }
                          ]
                        }, "createdAt": {
                          "type": "string"
                        }, "updatedAt": {
                          "type": "string"
                        }
                      }, "required": [
                        "id", "value", "organisation", "type", "createdAt", "updatedAt"
                      ]
                    }
                  }, "required": [
                    "type", "data"
                  ]
                }
              }
            }
          }, "401": {
            "description": "Unauthenticated, invalid or expired token", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "403": {
            "description": "Unauthorized, missing required api key scopes to perform action", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "405": {
            "description": "Method not allowed", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "500": {
            "description": "Internal server error", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        }
      }
    }, "/api/api-keys/{id}": {
      "get": {
        "tags": [
          "API Keys"
        ], "operationId": "retrieveApiKey", "summary": "Retrieve API Key", "parameters": [
          {
            "$ref": "#/components/parameters/ResourceIdPathParam"
          }
        ], "responses": {
          "200": {
            "description": "Successfully retrieved API key", "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false, "type": "object", "properties": {
                    "type": {
                      "const": "object", "type": "string"
                    }, "data": {
                      "additionalProperties": false, "type": "object", "properties": {
                        "id": {
                          "type": "string"
                        }, "value": {
                          "type": "string"
                        }, "organisation": {
                          "type": "string"
                        }, "type": {
                          "allOf": [
                            {
                              "additionalProperties": false, "anyOf": [
                                {
                                  "const": "publishable", "type": "string"
                                }, {
                                  "const": "secret", "type": "string"
                                }, {
                                  "const": "restricted", "type": "string"
                                }
                              ]
                            }, {
                              "anyOf": [
                                {
                                  "const": "publishable", "type": "string"
                                }, {
                                  "const": "secret", "type": "string"
                                }, {
                                  "const": "restricted", "type": "string"
                                }
                              ]
                            }
                          ]
                        }, "createdAt": {
                          "type": "string"
                        }, "updatedAt": {
                          "type": "string"
                        }
                      }, "required": [
                        "id", "value", "organisation", "type", "createdAt", "updatedAt"
                      ]
                    }
                  }, "required": [
                    "type", "data"
                  ]
                }
              }
            }
          }, "401": {
            "description": "Unauthenticated, invalid or expired token", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "403": {
            "description": "Unauthorized, missing required api key scopes to perform action", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "404": {
            "description": "API key not found", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "405": {
            "description": "Method not allowed", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "500": {
            "description": "Internal server error", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        }
      }, "delete": {
        "tags": [
          "API Keys"
        ], "operationId": "deleteApiKey", "summary": "Delete API Key", "parameters": [
          {
            "$ref": "#/components/parameters/ResourceIdPathParam"
          }
        ], "responses": {
          "204": {
            "description": "Successfully deleted API key"
          }, "401": {
            "description": "Unauthenticated, invalid or expired token", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "403": {
            "description": "Unauthorized, missing required api key scopes to perform action", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "404": {
            "description": "API key not found", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "405": {
            "description": "Method not allowed", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "500": {
            "description": "Internal server error", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }
        }
      }
    }, "/api/carts": {
      "post": {
        "tags": [
          "Carts"
        ], "summary": "Create Cart", "operationId": "createCart", "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object", "properties": {
                  "owner": {
                    "type": "string"
                  }, "interval": {
                    "anyOf": [
                      {
                        "type": "string", "enum": [
                          "day", "week", "month", "year"
                        ]
                      }, {
                        "type": "null"
                      }
                    ]
                  }, "intervalCount": {
                    "type": [
                      "number", "null"
                    ]
                  }, "currency": {
                    "type": "string", "enum": [
                      "USD", "AED", "AFN", "ALL", "AMD", "ANG", "AOA", "ARS", "AUD", "AWG", "AZN", "BAM", "BBD", "BDT", "BGN", "BIF", 
                      "BMD", "BND", "BOB", "BRL", "BSD", "BWP", "BYN", "BZD", "CAD", "CDF", "CHF", "CLP", "CNY", "COP", "CRC", "CVE", 
                      "CZK", "DJF", "DKK", "DOP", "DZD", "EGP", "ETB", "EUR", "FJD", "FKP", "GBP", "GEL", "GIP", "GMD", "GNF", "GTQ", 
                      "GYD", "HKD", "HNL", "HTG", "HUF", "IDR", "ILS", "INR", "ISK", "JMD", "JPY", "KES", "KGS", "KHR", "KMF", "KRW", 
                      "KYD", "KZT", "LAK", "LBP", "LKR", "LRD", "LSL", "MAD", "MDL", "MGA", "MKD", "MMK", "MNT", "MOP", "MUR", "MVR", 
                      "MWK", "MXN", "MYR", "MZN", "NAD", "NGN", "NIO", "NOK", "NPR", "NZD", "PAB", "PEN", "PGK", "PHP", "PKR", "PLN", 
                      "PYG", "QAR", "RON", "RSD", "RUB", "RWF", "SAR", "SBD", "SCR", "SEK", "SGD", "SHP", "SLE", "SOS", "SRD", "STD", 
                      "SZL", "THB", "TJS", "TOP", "TRY", "TTD", "TWD", "TZS", "UAH", "UGX", "UYU", "UZS", "VND", "VUV", "WST", "XAF", 
                      "XCD", "XCG", "XOF", "XPF", "YER", "ZAR", "ZMW", "BHD", "KWD", "OMR"
                    ]
                  }
                }, "required": [
                  "owner", "interval", "intervalCount"
                ], "additionalProperties": false, "$schema": "http://json-schema.org/draft-07/schema#"
              }
            }
          }
        }, "responses": {
          "200": {
            "description": "Successfully created cart", "content": {
              "application/json": {
                "schema": {
                  "type": "object", "properties": {
                    "type": {
                      "const": "object", "type": "string"
                    }, "data": {
                      "additionalProperties": false, "type": "object", "properties": {
                        "id": {
                          "type": "string"
                        }, "organisation": {
                          "type": "string"
                        }, "ownerId": {
                          "type": "string"
                        }, "currency": {
                          "anyOf": [
                            {
                              "type": "null"
                            }, {
                              "type": "string"
                            }
                          ]
                        }, "interval": {
                          "allOf": [
                            {
                              "anyOf": [
                                {
                                  "type": "null"
                                }, {
                                  "additionalProperties": false, "anyOf": [
                                    {
                                      "const": "day", "type": "string"
                                    }, {
                                      "const": "week", "type": "string"
                                    }, {
                                      "const": "month", "type": "string"
                                    }, {
                                      "const": "year", "type": "string"
                                    }
                                  ]
                                }
                              ]
                            }, {
                              "anyOf": [
                                {
                                  "type": "null"
                                }, {
                                  "anyOf": [
                                    {
                                      "const": "day", "type": "string"
                                    }, {
                                      "const": "week", "type": "string"
                                    }, {
                                      "const": "month", "type": "string"
                                    }, {
                                      "const": "year", "type": "string"
                                    }
                                  ]
                                }
                              ]
                            }
                          ]
                        }, "intervalCount": {
                          "anyOf": [
                            {
                              "type": "null"
                            }, {
                              "type": "integer"
                            }
                          ]
                        }, "status": {
                          "allOf": [
                            {
                              "additionalProperties": false, "anyOf": [
                                {
                                  "const": "active", "type": "string"
                                }, {
                                  "const": "abandoned", "type": "string"
                                }, {
                                  "const": "complete", "type": "string"
                                }
                              ]
                            }, {
                              "anyOf": [
                                {
                                  "const": "active", "type": "string"
                                }, {
                                  "const": "abandoned", "type": "string"
                                }, {
                                  "const": "complete", "type": "string"
                                }
                              ]
                            }
                          ]
                        }, "createdAt": {
                          "type": "string"
                        }, "updatedAt": {
                          "type": "string"
                        }
                      }, "required": [
                        "id", "organisation", "ownerId", "currency", "interval", "intervalCount", "status", "createdAt", "updatedAt"
                      ]
                    }
                  }, "required": [
                    "type", "data"
                  ]
                }
              }
            }
          }, "400": {
            "description": "Invalid request or validation error", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "401": {
            "description": "Unauthenticated, invalid or expired token", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          }, "403": {
            "description": "Unauthorized, missing required api key scopes to perform action", "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
[...]
